In [48]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb
from warnings import filterwarnings
filterwarnings("ignore")
train = pd.read_csv("Datasets/train_Loan.csv")
test = pd.read_csv("Datasets/test_Loan.csv")

In [49]:
train['Loan_Amount_Term'] = train["Loan_Amount_Term"].fillna(train["Loan_Amount_Term"].mode()[0])
test['Loan_Amount_Term'] = test["Loan_Amount_Term"].fillna(test["Loan_Amount_Term"].mode()[0])

In [50]:
for i in train.columns:
    if train[i].dtypes == 'object':
        x = train[i].mode()[0]
        train[i] = train[i].fillna(x)
    else:
        x = train[i].mean()
        train[i] = train[i].fillna(x)
        
for i in test.columns:
    if test[i].dtypes == 'object':
        x = test[i].mode()[0]
        test[i] = test[i].fillna(x)
    else:
        x = test[i].mean()
        test[i] = test[i].fillna(x)

In [51]:
train_df_1 = train
test_df_1 = test
#Adding Applicant income and coapplicant income to make total income
train_df_1["TotalIncome"] = train_df_1["ApplicantIncome"] + train_df_1["CoapplicantIncome"]
test_df_1["TotalIncome"] = test_df_1["ApplicantIncome"] + test_df_1["CoapplicantIncome"]

#And then, Dropping Applicant income and coapplicant income 
train_df_1 = train_df_1.drop(["ApplicantIncome","CoapplicantIncome"],axis=1)
test_df_1 = test_df_1.drop(["ApplicantIncome","CoapplicantIncome"],axis=1)

In [52]:
X = train_df_1.drop(["Loan_Status","Loan_ID","Gender"],axis=1)
Y = train_df_1[["Loan_Status"]]

In [53]:
Xnew = pd.get_dummies(X)

In [54]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(Xnew,Y,test_size=0.2,random_state=101)

In [55]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(random_state=101)
lr_model = lr.fit(xtrain,ytrain)

In [56]:
ypred=lr_model.predict(xtest)
from sklearn.metrics import accuracy_score
accuracy_score(ytest,ypred)

0.7804878048780488

In [57]:
from sklearn.neighbors import KNeighborsClassifier
knc = KNeighborsClassifier()
knc_model = knc.fit(xtrain,ytrain)
ypred_knc = knc_model.predict(xtest)

In [58]:
from sklearn.metrics import accuracy_score,classification_report
accuracy_score(ytest,ypred_knc)

0.5853658536585366

In [59]:
ytest

    Loan_Status
216           N
55            Y
593           Y
438           N
351           N
..          ...
437           Y
283           Y
2             Y
355           Y
353           N

[123 rows x 1 columns]